<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>选择支付方式</title>
    <link rel="stylesheet" href="css/weui.min.css">
    <link rel="stylesheet" href="css/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="css/font_icon/iconfont.css">
    <link rel="stylesheet" href="css/my-sytle.css">

</head>

<body>
<div class="contents">
    <div class="user_for_record">
        <div class="nav-top">
            <div class="icon">
                <div class="l-height"></div>
            </div>
            <h1>选择支付方式</h1>
        </div>
    </div>
    <form action="">


        <div class="pay">

            <div class="left">
                <div class="redio-box">
                    <input type="radio" checked="checked" id="boy" name="1"><span></span>
                </div>
            </div>
            <div class="right" id="alipay">支付宝</div>
        </div>


        <div class="pay">

            <div class="left">
                <div class="redio-box">
                        <input type="radio" id="boy" name="1"><span></span>
                </div>
            </div>
            <div class="right" id="alipay">微信</div>
        </div>

    <div class="play">
        <input type="submit" value="确定">
    </div>
    </form>


</div>
</body>
</html>