{extend name="public:base" /}
{block name="content"}


<div class="row">
	<div class="col-xs-12">
		<form action="" method="post" onsubmit="return registerForm()">
		<div class="form-horizontal">
			
		
			<input type="hidden" name="id" value="{$id}">
			
			<div class="form-group">
				<label class="col-sm-1 control-label no-padding-left"> * 兑换券张数 </label>
			<div class="col-sm-5">
				<div class="clearfix">
				<input name="points" id="points" class="col-xs-10 col-sm-5" type="text" pattern="[0-9]*">
				</div>
			</div>
			</div>

			<div class="space-4"></div>




			<!---->
			<div class="form-group">
				<label class="col-sm-1 control-label no-padding-left"> </label>	
				<div class="col-sm-11">
					<input  type="submit" value="充值" class="btn btn-primary" />
				</div>
			</div>
		</div>
		</form>
	</div>
</div>
{/block}
{block name="javascript"}
<script src="__PUBLIC__/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
 function registerForm() {
        
        var mobile_phone = document.getElementById("points").value;
      
        var mobile_phone2 = /^[1-9]\d*$/;
        
        if (mobile_phone == ""){
            alert("兑换券不能为空");
            return false;
        }
       	if (!mobile_phone2.test(mobile_phone)) {
            alert("兑换券张数不能为0");
            return false;
        }

        
    }
</script>							
{/block}