<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>商品收藏</title>
    <link rel="stylesheet" href="__PUBLIC__/index/css/weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/index/css/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/font_icon/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/index/css/my-sytle.css">
</head>

<body style="background-color: #fff;">
<div class="contents collection">


    <div class="nav-box">
        
    </div>
{volist name="list" id="d"}
    <div class="sc-list">
        <div class="list">
            <div class="left"><a href="{:url('index/Exproduct/details','id='.$d['goods_id'])}"><img class="images" src="IMG_ROOT{$d.image|resize=100,100}" alt=""></a></div>
            <div class="right">
                <h1><a href="{:url('index/Exproduct/details','id='.$d['goods_id'])}">{$d.name}</a></h1>
                <div class="money">兑换券：{$d.pay_points}张</div>
                <div class="buttoms">
                    <span class="sc-shoping"><a href="javascript:;" onclick="add({$d.goods_id})"><i class="icon iconfont icon-gouwuche"></i></a></span>
                    <span class="qx"><a href="javascript:del({$d['id']});" id='show-confirm'>取消关注</a></span>
                </div>
            </div>
        </div>
    </div>
{/volist}

</div>
</body>
<script src="__PUBLIC__/index/js/jquery-2.1.4.js"></script>
<script src="__PUBLIC__/index/js/jquery-weui.min.js"></script>
<script>
    $(function() {
        FastClick.attach(document.body);
    });
</script>
<script src="__PUBLIC__/index/js/jquery-weui.js"></script>

<script>

   function del(id)
{   
    var f=confirm('确认要删除吗？');

    if(f==false){
        return false;
    }else{
        $.post(
            "{:url('Collect/remove')}",
            {id:id},
            function(data){
                if (data) {
                   window.location.reload(); 
                }else{
                    alert('删除失败！');
                }
            }
        ); 
    }
}
   
    
        function add(id) {
             
            $.post(
                "{:url('member/Cart/add')}",
                {goods_id:id},
                function (data) {
                    if (data) {
                        alert('加入成功！！');
                    }else{ 
                        alert('请先登录！！');
                    }
                }
            )
        }
    
</script>

</html>