<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>结算</title>
    <link rel="stylesheet" href="__PUBLIC__/index/css/weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/index/css/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/font_icon/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/index/css/my-sytle.css">
</head>

<body>
<div class="contents shop_cart" id="tab">
    <div class="order_details">

        <div class="nav-box-s">
            <div class="title-nav">
                收货信息
            </div>
        </div>

        <!-- 默认       -->
        <div class="shop_add">
            <a class="sh_add open-popup"  data-target="#full2" onclick="address()" >点击选择收货地址 <span><i class="icon iconfont icon-qianjin"></i></span></a>
        </div>

      

        <div class="nav-box-s">
            <div class="title-nav">
                订单信息
            </div>
        </div>
        <form action="pay.php">
        {volist name="list" id="d"}
        <div class="sc-list">
            <div class="list">
                <div class="left"><a href="{:url('/goods/'.$d['goods_id'])}"><img class="images" src="IMG_ROOT{$d.image|resize=100,100}"
                                                                   alt=""></a></div>
                <div class="right right2">
                    <h1><a href="{:url('/goods/'.$d['goods_id'])}">{$d.name}</a></h1>
                <div class="money">需要兑换券:<span class="price">{$d.pay_points}张</span></div>
                }
                    <div class="buttoms">
                        <div class="buttoms-left">

                            <div class="weui_cell_ft">
                                <span class="min">-</span>
                                <input class="text_box buy_num" id="{$d.cart_id}" name="quantity[]" readonly="readonly" type="text" value="{$d.quantity}">
                                <span class="add">+</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       {/volist}

        <div class="remarks">
            <span>买家留言:</span><input type="text" name="comment"placeholder="选填，对本此交易的说明">
        </div>

        <div style="height: 3.5rem;"></div>
        <!--底部浮动菜单-->
        <div class="bottom ruhui_shop">
            <div class="left-ruhui">合计：<span>￥<label id="total_price"></label></span></div>
            <input type="submit" class="right-ruhui" value="提交"/>
        </div>
        </form>
        <script src="__PUBLIC__/index/js/jquery-2.1.4.js"></script>
        <script src="__PUBLIC__/index/js/jquery-weui.min.js"></script>
        <script src="__PUBLIC__/index/js/swiper.min.js"></script>
        <script src="__PUBLIC__/index/js/city-picker.min.js"></script>
    </div>
</div>

<!--弹出层-->
        <div id="full2" class='weui-popup__container'>
            <div class="weui-popup__overlay"></div>
            <div class="weui-popup__modal">
                <div class="contents add_manage">

                    <div class="top">选择收货地址 <span><a href="javascript:;" class="close-popup" data-target="#half">确定</span></a></div>

                    <form action="#">
                        <div class="wrapper">
                            <div class="left">
                                <div class="redio-box">
                                    <input type="radio" checked="checked"  id="boy" name="1" /><span></span>
                                </div>
                            </div>
                            <div class="center">
                                <div class="center_top">柳妃妃<span>13800138000</span></div>
                                <div class="center_bottom">广东省 深圳市 宝安区 松岗镇 芙蓉路  韦恩斯科技有限公司</div>
                            </div>
                            
                        </div>
 <div class="wrapper">
                            <div class="left">
                                <div class="redio-box">
                                    <input type="radio" checked="checked"  id="boy" name="1" /><span></span>
                                </div>
                            </div>
                            <div class="center">
                                <div class="center_top">柳妃妃<span>13800138000</span></div>
                                <div class="center_bottom">广东省 深圳市 宝安区 松岗镇 芙蓉路  韦恩斯科技有限公司</div>
                            </div>
                            
                        </div>

                        <div class="wrapper" style="height: 40px;">
                            <div class="left" style="padding-top: 0;">
                                <div class="redio-box">
                                    <input id='show-alert' type="radio"  id="2" name="1" /><span></span>
                                </div>
                            </div>
                            <div class="center" style="height: 45px; line-height: 30px;">
                                上门自提
                            </div>
                        </div>

                    </form>

                    <div id="address" class="tianjia_buttom"><a href="{:url('Account/address')}" class="weui-btn weui-btn_primary" >
                            <i class="icon iconfont icon-add"></i>添加新地址
                        </a></div>

                </div>
            </div>
        </div>

</body>

<script>
    $(function () {
        var adds = $('.add');
        var mins = $('.min');
        var selects = $('.sc-list');
        var prices = $('.price');
        var nums = $('.buy_num');

        function getTotal() {
            var total = 0;
            for (i = 0; i < selects.length; i++) {
                var num = nums.eq(i).val();
                var price = prices.eq(i).html();
                total = parseFloat(total) + parseFloat(num) * parseFloat(price);
                $('#total_price').html(total.toFixed(2));
            }
        }

        getTotal();
        adds.on('click', function () {
            var num = $(this).siblings('.buy_num');
            num.val(parseInt(num.val()) + 1);
            getTotal();
            $.post(
            "{:url('Cart/numb')}",
            {id:$(this).prev().val(),cart_id:$(this).prev().attr('id')},
            function(data){
               
            }
        	);
        });
        mins.on('click', function () {
            var num = $(this).siblings('.buy_num');
            if (num.val() > 1) {
                num.val(parseInt(num.val()) - 1);
                getTotal();
                $.post(
            "{:url('Cart/numb')}",
            {id:$(this).next().val(),cart_id:$(this).next().attr('id')},
            function(data){
               
            }
        	); 
            }
        });
    });

 function address(){
    var address = $('#address a').attr('href');
    // alert(address);
    $.post(
        "{:url('Account/ads_ajax')}",
        function(data){
        	if (data) {
        		l='<div class="weui-popup__overlay"></div><div class="weui-popup__modal"><div class="contents add_manage"><div class="top">选择收货地址 <span onclick="check()"><a href="javascript:;" class="close-popup" data-target="#half">确定</span></a></div>';
        		var len = data.list.length;
        		var list= data.list;
        		for (var i = 0; i < len; i++) {
        			l+='<div class="wrapper"><div class="left"><div class="redio-box"><input type="radio" checked="checked"  id="boy" name="1" value="'+list[i]['address_id']+'" /><span></span></div></div><div class="center"><div class="center_top">'+list[i]['name']+'<span>'+list[i]['telephone']+'</span></div><div class="center_bottom">'+list[i]['area']+list[i]['address']+'</div></div></div>';
				}
                   l+='<div class="wrapper" style="height: 40px;"><div class="left" style="padding-top: 0;"><div class="redio-box"> <input id="show-alert" type="radio"  id="2" name="1" value="0" /><span></span></div></div><div class="center" style="height: 45px; line-height: 30px;"> 上门自提</div></div></form><div id="address" class="tianjia_buttom"><a href="'+address+'" class="weui-btn weui-btn_primary" ><i class="icon iconfont icon-add"></i>添加新地址</a></div></div></div></div>';
        		$('#full2').html(l);
        	}
        }
    )
};
$(document).on("click", "#show-alert", function() {
        $.alert("广东省 深圳市 宝安区 松岗镇 芙蓉路9号 桃花源创新科技园B座603", "自提地址");
    });
function check(){
	 // alert($(':checked').val());
	$.post(
		"{:url('Account/ajaxAddress')}",
		{id:$(':checked').val()},
		function(data){
            var adds = data.address;
			if (adds) {
				l='<div class="center" style="margin-top:35px;"><div class="center_top">'+adds.name+'<span style="float:right">'+adds.telephone+'</span></div><div class="center_bottom">'+adds.area+'&nbsp;'+adds.address+'</div></div>';
                l+='<input type="hidden" name="address_id" value="'+adds.address_id+'"/>';
				$('.shop_add').html(l);
			}
		}
	)
}

</script>
</html>

	
