<div class="member-all-left">
    <div class="user-logos">
        <div class="user-logo">
            <div class="img">
                <a href="javascript:;">
                    {if condition="($member.userpic==NULL)"}
                    <img src="__PUBLIC__/index/img/head.jpg" alt=""></a>
                {else/}
                <img src="__IMAGE__/product/{$member.userpic}" alt=""></a>
                {/if}
            </div>
        </div>
    </div>
    <div class="user-dj">VIP会员</div>
    <ul>
        <li>
            <h3 style="font-size: 16px; padding: 0 5px;">
                <a href="member_index.php">会员首页</a>
                <a class="span" href="javascript:;">账户管理</a>
            </h3>
        </li>
    </ul>
    <ul>
        <li><h3>交易中心</h3></li>
        <li class="title"><a href="member_order.php">我的订单</a></li>
        <li><a href="member_order_1.php">待付款 <span>3</span></a></li>
        <li><a href="member_order_2.php">待付发货 <span>1</span></a></li>
        <li><a href="member_order_3.php">待收货 <span>2</span></a></li>
    </ul>

    <ul>
        <li><h3>资产中心</h3></li>
        <li><a href="user_recharge.php">兑换券购买</a></li>
        <li><a href="member_for_record.php">兑换账期</a></li>
        <li><a href="user_product.php">产品兑换（兑换券）</a></li>
        <li><a href="member_exchange_record.php">产品兑换记录</a></li>
    </ul>

    <ul>
        <li><h3>关注中心</h3></li>
        <li><a href="member_mall_follow.php">商品收藏</a></li>
        <li><a href="member_follow.php">入会关注</a></li>
    </ul>

    <ul>
        <li><h3>设置</h3></li>
        <li><a href="javascript:;">个人信息</a></li>
        <li><a href="javascript:;">地址管理</a></li>
    </ul>

    <ul>
        <li><h3 style="font-size: 14px;"><a href="javascript:;">我的推荐人</a></h3></li>
    </ul>
</div>
