<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>书画印定制 - 盛世艺拍</title>
    <link rel="stylesheet" href="__PUBLIC__/auction/css/weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/auction/css/jquery-weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/auction/css/example.css" />
    <link rel="stylesheet" href="__PUBLIC__/auction/css/my-sytle.css">
    <link href="__PUBLIC__/view_res/mobile/css/home.css" type="text/css" rel="Stylesheet" />

    <style>
        .my_nav{
            overflow-x: scroll;
            white-space: nowrap;
            height:40px;
            line-height: 40px;

        }
        .mall-list-nav{
            border-bottom: 1px solid #dedede;
            margin-bottom: 10px;
        }

        .my_nav li{
            display: inline-block;
            padding:2px 5px;
            float: none;
        }
    </style>
</head>
<body>


<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->


        {if condition="isset($pic_items)&&$pic_items"}
        {volist name="pic_items" id="v"}
        <div class="swiper-slide" style="max-height:400px;"> <a href="{$v->link_url}"><img src="/public/static/../uploads/{$v->image_url}" alt=""></a></div>

        {/volist}
        {else /}
        <!--<img src="/public/static/../uploads/images/osc1/auction/index/banner-02.jpg" alt="">-->
        {/if}

    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
</div>


{volist name="goods" id="v"}

{if condition="$v.quantity>0"}


<div style="width: 48%;margin: 1%;float: left" class="weui-col-50 ">
    <a href="{:url('CustomGoods/detail')}/id/{$v->goods_id}">
        <div class="mall-list">
            <div style="overflow: hidden" class="mall-list-img">
                <img style="width: 100%;" src="__PUBLIC__/../uploads/{$v->image}" alt="">
            </div>
            <div class="mall-list-title font-size-13">
                <h4>{$v->name}</h4>
            </div>
            <div class="mall-list-money m-t-5">
                <p style="color: #666">{$v->model} </p>
                <p class="font-size-12 red">{$v->price}  </p>
            </div>
            <div class="mall-list-namber">
                围观：{$v->viewed}   &nbsp; <span>剩余名额：{$v->quantity}</span>&nbsp;
            </div>
        </div>
    </a>
</div>


{else /}
{/if}

{/volist}


<div id="goods_list" class="  weui-row font-size-10">

</div>
<div class="height55"></div>
<div class="height55"></div>
<div class="bottomNav">
    <div class="weui_tabbar">
        <a href="{:url('aucIndex/index')}" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <img src="__PUBLIC__/auction/images/icon/bottom-01.png" alt="">
            </div>
            <p class="weui_tabbar_label">专场</p>
        </a>
        <a href="{:url('aucIndex/list_painting')}" class="weui_tabbar_item ">
            <div class="weui_tabbar_icon">
                <img src="__PUBLIC__/auction/images/icon/bottom-02.png" alt="">
            </div>
            <p class="weui_tabbar_label">拍品</p>
        </a>
        <a href="{:url('Index/index')}" class="weui_tabbar_item  weui_bar_item_on">
            <div class="weui_tabbar_icon">
                <img src="__PUBLIC__/auction/images/icon/bottom-03.png" alt="">
            </div>
            <p class="weui_tabbar_label">商城</p>
        </a>
        <a href="{:url('User/index')}" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <img src="__PUBLIC__/auction/images/icon/bottom-04.png" alt="">
            </div>
            <p class="weui_tabbar_label">个人中心</p>
        </a>
    </div>
</div>
<script src="__PUBLIC__/auction/js/jquery.min.js"></script>
<script src="__PUBLIC__/auction/js/jquery-weui.min.js"></script>
<script src="__PUBLIC__/auction/js/swiper.min.js"></script>
<script src="__PUBLIC__/auction/js/city-picker.min.js"></script>
<script src="__PUBLIC__/artTemplate/template.js"></script>
<script src="__PUBLIC__/view_res/mobile/load_list.js"></script>
<script src="__PUBLIC__/view_res/mobile/index.js"></script>

<div id="list-loading" style="display: none;"><img src="__PUBLIC__/view_res/mobile/images/icon/spinner-g-60.png" width="30"></div>




</body>

<script>
    $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });

    $(".swiper-containers").swiper({
        loop: true,
        autoplay: 0
    });
</script>

</html>