<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>兑换账期</title>
    <link rel="stylesheet" href="__PUBLIC__/index/css/weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/index/css/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/font_icon/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/index/css/my-sytle.css">
</head>

<body>
<div class="contents user_for_record">
    <div class="nav-top">
        <div class="icon">
            <div class="l-height"></div>
        </div>
        <h1>兑换账期</h1>
    </div>


    <div class="total">
        <div class="left">
            <div class="bq"><img src="__PUBLIC__/index/img/user/icon-bq.png" width="100%"></div>
            <div class="circle1">
                <p>未兑换卷</p>
                <p>共57张</p>
            </div>
        </div>
        <div class="right">
                <div class="circle">
                    <p>当前可用</p>
                    <p>共12张</p>
                </div>
        </div>
    </div>
    <div class="circle2">
        <i class="icon iconfont icon-liwu"></i> 产品兑换券12张 <span>（产品入会）</span>
    </div>



    <div class="list-box">
        <h3>类型：辣木盆景（规格500*500*300）12合1套装</h3>
        <div class="text">
            <div class="left">
                <p>您还有9张兑换券未兑</p>
                <p>到期时间：2016-12-31</p>
            </div>
            <div class="right">
                <p>当前有1张兑换券可用</p>
                <p>作废时间：2017年1月31日</p>
            </div>
        </div>
        <ul>
            <li class="active">12兑</li>
            <li class="active">11兑</li>
            <li class="active">10兑</li>
            <li>9未</li>
            <li>8未</li>
            <li>7未</li>
            <li>6未</li>
            <li>5未</li>
            <li>4未</li>
            <li>3未</li>
            <li>2未</li>
            <li>1未</li>
        </ul>
    </div>



    <div class="list-box">
        <h3>类型：种植体验园（6㎡含管理费）52合1套装</h3>
        <div class="text">
            <div class="left">
                <p>您还有48张兑换券未兑</p>
                <p>到期时间：2016-12-31</p>
            </div>
            <div class="right">
                <p>当前有2张兑换券可用</p>
                <p>作废时间：2017年1月31日</p>
            </div>
        </div>
        <ul>
            <li class="active">52兑</li>
            <li class="active">51兑</li>
            <li class="active">50兑</li>
            <li class="active">49兑</li>
            <li>48未</li>
            <li>47未</li>
            <li>46未</li>
            <li>45未</li>
            <li>44未</li>
            <li>43未</li>
            <li>42未</li>
            <li>41未</li>
            <li>40未</li>
            <li>39未</li>
            <li>38未</li>
            <li>37未</li>
            <li>36未</li>
            <li>35未</li>
            <li>34未</li>
            <li>33未</li>
            <li>32未</li>
            <li>31未</li>
            <li>30未</li>
            <li>29未</li>
            <li>28未</li>
            <li>27未</li>
            <li>26未</li>
            <li>25未</li>
            <li>24未</li>
            <li>23未</li>
            <li>22未</li>
            <li>21未</li>
            <li>20未</li>
            <li>19未</li>
            <li>18未</li>
            <li>17未</li>
            <li>16未</li>
            <li>15未</li>
            <li>14未</li>
            <li>13未</li>
            <li>12未</li>
            <li>11未</li>
            <li>10未</li>
            <li>9未</li>
            <li>8未</li>
            <li>7未</li>
            <li>6未</li>
            <li>5未</li>
            <li>4未</li>
            <li>3未</li>
            <li>2未</li>
            <li>1未</li>
        </ul>
    </div>



</div>
</body>

</html>