{include file="public:header" /}
</head>

<body>
<div class="contents shop_cart" id="tab">
    <div class="order_details">

        <div class="nav-box-s">
            <div class="title-nav">
                收货信息
            </div>
        </div>
 <form action="{:url('Order/order_now')}" method="post" onsubmit="return registerForm()">
        <!-- 默认       -->
        <div class="shop_add">
            <a class="sh_add open-popup"  data-target="#full2" onclick="address()" >点击选择收货地址 <span><i class="icon iconfont icon-qianjin"></i></span></a>
        </div>

      

        <div class="nav-box-s">
            <div class="title-nav">
                订单信息
            </div>
        </div>
       
        <div class="sc-list">
            <div class="list">
            <input name="goods_id" type="hidden" value="{$list.goods_id}" />
             <input name="type" type="hidden" value="{$type}" />

             <input name="total" id="total" type="hidden" value="0" />
                <div class="left"><a href="{:url('/goods/'.$list['goods_id'])}"><img class="images" src="IMG_ROOT{$list.image|resize=100,100}"
                                                                   alt=""></a></div>
                <div class="right right2">
                    <h1><a href="{:url('/goods/'.$list['goods_id'])}">{$list.name}</a></h1>
            {if condition="($type == 'money')"}
                   {if condition="($list.end_time == NULL)"}
                <div class="money">￥<span class="price">{$list.origin_price}</span></div>
                {elseif condition="($list.end_time eq 1) "}
                <div class="money">￥<span class="price">{$list.origin_price}</span></div>
                {else}
                <div class="money">￥<span class="price">{$list.price}</span></div>
                <div class="money-02"><s>￥{$list.origin_price}</s></div>
                {/if}
            {else/}
             <div class="money">需要兑换券:<span class="price">{$list.pay_points}张</span></div>
             {/if}
                    <div class="buttoms">
                        <div class="buttoms-left">

                            <div class="weui_cell_ft">
                                <span class="min">-</span>
                                <input class="text_box buy_num" id="{$list.goods_id}" name="quantity" readonly="readonly" type="text" value="1">
                                <span class="add">+</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="remarks">
            <span>买家留言:</span><input type="text" name="comment" placeholder="选填，对本此交易的说明">
        </div>

        <div style="height: 3.5rem;"></div>
        <!--底部浮动菜单-->
        <div class="bottom ruhui_shop">
            <div class="left-ruhui">合计：
            <span>
            {if condition="($type == 'money')"}
            ￥<label id="total_price"></label>
            {else/}
            兑换券<label id="total_price"></label>张
            {/if}
            </span>
            </div>
            <input type="submit" class="right-ruhui" value="提交"/>
        </div>
     
        <script src="__PUBLIC__/index/js/jquery-2.1.4.js"></script>
        <script src="__PUBLIC__/index/js/jquery-weui.min.js"></script>
        <script src="__PUBLIC__/index/js/swiper.min.js"></script>
        <script src="__PUBLIC__/index/js/city-picker.min.js"></script>
    </div>
</div>

<!--弹出层-->
        <div id="full2" class='weui-popup__container'>
            <div class="weui-popup__overlay"></div>
            <div class="weui-popup__modal">
                <div class="contents add_manage">

                    <div class="top">选择收货地址 <span><a href="javascript:;" class="close-popup" data-target="#half">确定</span></a></div>

                        <div class="wrapper">
                            <div class="left">
                                <div class="redio-box">
                                    <input type="radio" checked="checked"  id="boy" name="1" /><span></span>
                                </div>
                            </div>
                            <div class="center">
                                <div class="center_top">柳妃妃<span>13800138000</span></div>
                                <div class="center_bottom">广东省 深圳市 宝安区 松岗镇 芙蓉路  韦恩斯科技有限公司</div>
                            </div>
                            
                        </div>
 <div class="wrapper">
                            <div class="left">
                                <div class="redio-box">
                                    <input type="radio" checked="checked"  id="boy" name="1" /><span></span>
                                </div>
                            </div>
                            <div class="center">
                                <div class="center_top">柳妃妃<span>13800138000</span></div>
                                <div class="center_bottom">广东省 深圳市 宝安区 松岗镇 芙蓉路  韦恩斯科技有限公司</div>
                            </div>
                            
                        </div>

                        <div class="wrapper" style="height: 40px;">
                            <div class="left" style="padding-top: 0;">
                                <div class="redio-box">
                                    <input id='show-alert' type="radio"  id="2" name="1" /><span></span>
                                </div>
                            </div>
                            <div class="center" style="height: 45px; line-height: 30px;">
                                上门自提
                            </div>
                        </div>

                  

                    <div id="address" class="tianjia_buttom"><a href="{:url('Account/address')}" class="weui-btn weui-btn_primary" >
                            <i class="icon iconfont icon-add"></i>添加新地址
                        </a></div>

                </div>
            </div>
        </div>

</body>

<script>
    $(function () {
        var adds = $('.add');
        var mins = $('.min');
        var selects = $('.sc-list');
        var prices = $('.price');
        var nums = $('.buy_num');

        function getTotal() {
            var total = 0;
            for (i = 0; i < selects.length; i++) {
                var num = nums.eq(i).val();
                var price = prices.eq(i).html();
                total = parseFloat(total) + parseFloat(num) * parseFloat(price);
                $('#total_price').html(total);
            }
        }

        getTotal();
        adds.on('click', function () {
            var num = $(this).siblings('.buy_num');
            num.val(parseInt(num.val()) + 1);
            getTotal();
        });
        mins.on('click', function () {
            var num = $(this).siblings('.buy_num');
            if (num.val() > 1) {
                num.val(parseInt(num.val()) - 1);
                getTotal(); 
            }
        });
    });

 function address(){
    var address = $('#address a').attr('href');
    // alert(address);
    $.post(
        "{:url('Account/ads_ajax')}",
        function(data){
        	if (data) {
        		l='<div class="weui-popup__overlay"></div><div class="weui-popup__modal"><div class="contents add_manage"><div class="top">选择收货地址 <span onclick="check()"><a href="javascript:;" class="close-popup" data-target="#half">确定</span></a></div>';
        		var len = data.list.length;
        		var list= data.list;
        		for (var i = 0; i < len; i++) {
        			l+='<div class="wrapper"><div class="left"><div class="redio-box"><input type="radio" checked="checked"  id="boy" name="1" value="'+list[i]['address_id']+'" /><span></span></div></div><div class="center"><div class="center_top">'+list[i]['name']+'<span>'+list[i]['telephone']+'</span></div><div class="center_bottom">'+list[i]['province_id']+list[i]['city_id']+list[i]['country_id']+list[i]['address']+list[i]['address']+'</div></div></div>';
				}
                   l+='<div class="wrapper" style="height: 40px;padding-top:50px;border-top:1px dashed #999"><h2 class="center" style="height: 45px; line-height: 30px; ">上门自提:</h2></div>';
                var length = data.lift.length;
                var lis= data.lift;
                for (var i = 0; i < length; i++) {
                    l+='<div class="wrapper"><div class="left"><div class="redio-box"><input type="radio" checked="checked"  id="boy" name="1" value="'+lis[i]['address_id']+'" /><span></span></div></div><div class="center"><div class="center_top">'+lis[i]['name']+'<span>'+lis[i]['telephone']+'</span></div><div class="center_bottom">'+lis[i]['address']+'</div></div></div>';
                }
                   l+='</form><div id="address" class="tianjia_buttom"><a href="'+address+'" class="weui-btn weui-btn_primary" ><i class="icon iconfont icon-add"></i>添加新地址</a></div></div></div></div>';
        		$('#full2').html(l);
        	}
        }
    )
};
function registerForm() {
    var total=$('#total_price').html();
    $('#total').val(total);
    if ($('#address_id').size()>0) {
        
    }else{
        alert('请选择地址！');
        return false;
    }

 }
$(document).on("click", "#show-alert", function() {
        $.alert("广东省 深圳市 宝安区 松岗镇 芙蓉路9号 桃花源创新科技园B座603", "自提地址");
    });
function check(){
	 // alert($(':checked').val());
	$.post(
		"{:url('Account/ajaxAddress')}",
		{id:$(':checked').val()},
		function(data){
            var adds = data.address;
			if (adds) {
				l='<div class="center" style="margin-top:35px;"><div class="center_top">'+adds.name+'<span style="float:right">'+adds.telephone+'</span></div><div class="center_bottom">'+adds.province_id+adds.city_id+adds.country_id+adds.address+'</div></div>';
                l+='<input type="hidden" name="address_id" id="address_id" value="'+adds.address_id+'"/>';
				$('.shop_add').html(l);
			}
		}
	)
}

</script>
</html>

	
