{__NOLAYOUT__}
{include file="public/header" /}
{include file="public/member" /}
<div class="member member_order_details">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 member-index">
                <div class="small-nav">
                    <ul>
                        <li><a href="{:url('Member/index')}">会员中心</a></li>
                        <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                        <li>订单详情</li>
                    </ul>
                </div>
                <div class="con-box">

                    {switch name="order.order_status_id"}
                    {case value="3"}
                    <h4>当前交易状态：待付款</h4>
                    {if condition="($order.points_order==0)"}
                    <a href="{:url('Order/pay','order_id='.$order.order_id)}" type="button" class="btn btn-warning">支付订单</a>
                    {else/}
                    <a href="{:url('Order/pay_point','order_id='.$order.order_id)}" type="button"  class="btn btn-warning">支付订单</a>
                    {/if}
                    <button type="button" class="btn btn-default cancel"  data-toggle="modal"  data-id="{$order.order_id}" data-target=".bs-example-modal-qx">取消订单</button>
                    {/case}
                    {case value="1"}
                    <h4>当前交易状态：待发货</h4>
                    <button type="button" class="btn btn-default"    data-target=".bs-example-modal-qx">待发货</button>
                    {/case}
                    {case value="4"}
                    <h4>当前交易状态：待收货</h4>
                    <button type="button" class="btn btn-info save"  data-toggle="modal" data-id="{$order.order_id}" data-target=".bs-example-modal-ok">确认收货</button>
                    {/case}
                    {case value="5"}
                    <h4>当前交易状态：已完成</h4>
                    <a href="javascript:;" class="btn btn-default">已完成</a>
                    {/case}
                    {case value="6"}
                    <h4>当前交易状态：已取消</h4>
                    <button type="button" class="btn btn-default"   data-target=".bs-example-modal-qx">已取消</button>
                    <button type="button" class="btn btn-default delete" data-id="{$order.order_id}"  data-target=".bs-example-modal-qx">删除订单</button>
                    {/case}
                    {/switch}

                </div>
                <div class="d-x">
                    <div class="title">
                        订单信息：<span>订单编号：{$order.order_num_alias}</span>
                    </div>
                    <div class="conten">
                        <p>
                            <span>地址：</span>{$order.shipping_area} &nbsp;&nbsp;{$order.address}
                        </p>
                        <p><span>联系人：</span>{$order.shipping_name}</p>
                        <p><span>联系电话：</span>{$order.shipping_tel}</p>
                        <p><span>提货方式：</span>
                            {if condition="$order.shipping_method eq 0"}
                            上门自提
                            {else/}
                            到付
                            {/if}
                        </p>
                        <p><span>买家留言：</span>{$order.comment}</p>
                        <div class="row">


                                {switch name="order.order_status_id"}
                                {case value="3"}
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                <p><span>创建时间：</span>{$order.date_added|date='Y/m/d H:i:s',###}</p>
                                </div>
                                {/case}
                                {case value="4"}
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <p><span>创建时间：</span>{$order.date_added|date='Y/m/d H:i:s',###}</p>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <p><span>付款时间：</span>{$order.pay_time|date='Y/m/d H:i:s',###}</p>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <p><span>发货时间：</span>{$order.date|date='Y/m/d H:i:s',###}</p>
                                </div>
                                {/case}
                                {case value="5"}
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <p><span>创建时间：</span>{$order.date_added|date='Y/m/d H:i:s',###}</p>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <p><span>付款时间：</span>{$order.pay_time|date='Y/m/d H:i:s',###}</p>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <p><span>发货时间：</span>{$order.date|date='Y/m/d H:i:s',###}</p>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <p><span>成交时间：</span>{$order.date_modified|date='Y/m/d H:i:s',###}</p>
                                </div>
                                {/case}
                                {case value="6"}
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <p><span>创建时间：</span>{$order.date_added|date='Y/m/d H:i:s',###}</p>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <p><span>成交时间：</span>{$order.date_modified|date='Y/m/d H:i:s',###}</p>
                                </div>
                                {/case}
                                {case value="1"}
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <p><span>创建时间：</span>{$order.date_added|date='Y/m/d H:i:s',###}</p>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <p><span>付款时间：</span>{$order.pay_time|date='Y/m/d H:i:s',###}</p>
                                </div>
                            {/case}
                                {/switch}


                        </div>
                    </div>
                </div>
                <div class="member-all-border member-order">
                    <div class="order-table-th">
                        <div class="row">
                            <div class="col-xs-6">订单详情</div>
                            <div class="col-xs-6">
                                <div class="row">
                                    <div class="col-xs-3">数量</div>
                                    <div class="col-xs-3">单价</div>
                                    <div class="col-xs-3">优惠</div>
                                    <div class="col-xs-3">总计</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!---------------订单列表--------------->


                    <table class="table table-bordered">
                        <tbody>
                        {volist name="order.good_list" id="p"}
                        <tr>
                            <td class="tb-1">
                                <div class="con-logo">
                                    <a href="javascript:;"><img src="IMG_ROOT{$p.image|resize=60,60}" width="100%"></a>
                                </div>
                                <div class="d-title"><a href="javascript:;">{$p.name} </a></div>
                            </td>
                            <td class="tb-2">x {$p.quantity}</td>

                            {if condition="($order.points_order==0)"}
                            <td class="tb-2">￥{$p.price}</td>
                            <td class="tb-2">0</td>
                            {if condition="$key eq 0"}
                            <td class="tb-2" rowspan="{$order.count}">
                                ￥{$order.total}
                            </td>
                            {/if}
                            {else/}
                            <td class="tb-2">{$p.point}张兑换券</td>
                            <td class="tb-2" >0</td>
                            {if condition="$key eq 0"}
                          <td class="tb-2" rowspan="{$order.count}">
                                {$order.pay_points}张兑换券
                            </td>
                            {/if}
                            {/if}
                        </tr>
                        {/volist}







                        </tbody>
                    </table>
                    <!---------订单列表结束---------->
                </div>
            </div>
        </div>
        <div class="bt-button">

        </div>
    </div>


</div>
<!------弹出层------>

<div class="member-order">
    <!--取消订单-->
    <div class="modal fade bs-example-modal-qx" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="mySmallModalLabe">信息提示</h4>
                </div>
                <div class="modal-body">
                    确定取消订单？
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-primary btn-block quxiao">确定</button>
                        </div>
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-default btn-block" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--确认收货-->
    <div class="modal fade bs-example-modal-ok" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="mySmallModalLabel">信息提示</h4>
                </div>
                <div class="modal-body">
                    确定已收到货？
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-primary btn-block shouhuo">确定</button>
                        </div>
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-default btn-block" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>





{include file="public/foot" /}

</body>
</html>
<script style="text/javascript">

    //删除订单
    $('.delete').click(function() {

        var oid = $(this).attr('data-id');
        var r = confirm("您确定删除该订单吗");
        if (r == true) {
            $.post(
                    "{:url('Order/order_del')}",
                    {order_id: oid},
                    function (d) {
                        if (d.success) {
                            alert(d.success);
                            window.location.href=d.url;
                        } else {
                            alert(d.error);
                        }

                    }
            );
        }
    })
    //确定收货
    $('.save').click(function() {
        var id = $(this).attr('data-id');
        $('.shouhuo').click(function(){
//           alert(id);
            $.post(
                    "{:url('Order/confirm_ship')}",
                    {order_id:id},
                    function(d) {
                        if (d.success) {
                            alert(d.success);
                            window.location.reload();
                        } else {
                            alert(d.error);
                        }
                    })
        })
    })







    //取消订单
    $('.cancel').click(function() {
        var id = $(this).attr('data-id');
        $('.quxiao').click(function(){
//           alert(id);
            $.post(
                    "{:url('Order/cancel_order')}",
                    {order_id:id},
                    function(d){
                        if(d.success){
                            alert(d.success);
                            window.location.reload();
                        }else{
                            alert(d.error);
                        }

                    })
        })


    })

</script>