<div class="header-area user">
    <div class="user-banner">
        <div class="container">
            <div class="header-site">
                <div class="row">
                    <div class="col-md-9 col-sm-8 col-xs-8">
                        <div class="logo">
                            <a href="{:url('Index/index')}"><img src="__PUBLIC__/pc/img/member_logo.png" alt="logo"></a>
                        </div>
                        <div class="user">
                            <div class="title">会员中心</div>
                            <p><a href="{:url('Index/index')}">&laquo;返回商城首页</a></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-4">
                        <div class="shop-card btn-group">
                            <a href="javascript:;"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 购物车 - <span>{$cart}</span> 件商品 &nbsp;&nbsp;<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{:url('Cart/index')}">购物车(会员入会)</a></li>
                                <li><a href="{:url('Cart/ex_cart')}">购物车(兑换商城)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>