
<div class="index">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
        {volist name='banner' id="ba" key=$key}
        {if condition="$key eq 1"}
            <li data-target="#carousel-example-generic" data-slide-to="{$key}" class="active"></li>
        {else/}    
            <li data-target="#carousel-example-generic" data-slide-to="{$key}"></li>
        {/if}
        {/volist}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
		<!-- 轮播 -->
        {volist name='banner' id="ba" key=$key}
        {if condition="$key eq 1"}
            <div class="item active">
				<a href="<?php echo $banner[$key]['link_url'];?>">
					<img src="IMG_ROOT{$ba.image_url|resize=1920,400}" alt="...">
				</a>
            </div>
        {else/}
            <div class="item">
				<a href="<?php echo $banner[$key]['link_url'];?>">
					<img src="IMG_ROOT{$ba.image_url|resize=1920,400}" alt="...">
				</a>
            </div>
        {/if}
        {/volist}    
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <div class="ruhui">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="list-ruhui-box promo1">
                        <a href="{:url('Exproduct/me_index','id=28')}">
                            <p><img src="__PUBLIC__/pc/img/icon-02.png" alt=""></p>
                            <p>会员尊享酒</p>
                        </a>
                    </div>
                </div>



                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="list-ruhui-box promo3">
                        <a href="{:url('Member/product')}">
                            <p><img src="__PUBLIC__/pc/img/icon-03.png" alt=""></p>
                            <p>产品入会</p>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="list-ruhui-box promo4">
                        <a href="{:url('Member/recharge')}">
                            <p><img src="__PUBLIC__/pc/img/icon-04.png" alt=""></p>
                            <p>充值入会</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/pc/js/wow.min.js"></script>
    <script>
        if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
            new WOW().init();
        };
    </script>

    <!--秒杀-->
    <div class="container index-tuijian">
        <div class="title">
            <p>TIME LIMIT</p>
            <h2><span>限时特价入会</span></h2>
        </div>

        <div class="list row">
            <div class="caption-style-4 ">
				<?php foreach($list1 as $k=>$v){?>
                <div class="col-md-6 col-sm-4 col-xs-4 wow bounceInLeft">
                    <div class="border">
                        <div class="list">
                            <a href="{:url('/goods/'.$v['goods_id'])}"><img src="IMG_ROOT{$v['image']|resize=555,320}" alt=""></a>
                        </div>
                    </div>
                    <a href="{:url('/goods/'.$v['goods_id'])}"><h2 class="title">{$v['name']}</h2></a>
                    <p>
                        <inr>秒杀价：￥{$v['price']}</inr>
                        <span>剩余{$v['quantity']}</span></p>
                    <div>
                        <del>￥{$v['origin_price']}</del>
                    </div>
                    <div class="Count-down"><span class="time">仅剩：</span><span class="lxftime" endtime="{$v['end_time']}"></span></div>
                </div>
               <?php }?>

            </div>
           
        </div>
    </div>


    <!--    ruhui END -->


        <!--    tuijian End -->

    </div>

   <div class="hr2"></div>
    {include file="public/foot" /}

    <!---       倒计时       -->
    <script type="text/javascript" src="__PUBLIC__/pc/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/index/js/chenks-time.js"></script>
    
</body>
</html>

