{include file="public:header" /}
</head>

<body>
<div class="contents mall_classify">
    <div class="container">
        <ul class="tabs">
            <li class="active"><a href="#tab1">推荐分类</a></li>
            {volist name="category" id="ca"}
            <li><a href="#tab{$ca.id}">{$ca.name}</a></li>
            {/volist}
        </ul>


        <div class="tab_container">
            <div id="tab1" class="tab_content" style="display: block; ">
                <h3>常用分类</h3>
                <div class="list-content">
                    <div class="tb_content_left">
                        <a href="{:url('Exproduct/index','id=0')}">
                            单卷兑换
                            <p>只需要1张兑换建即可兑换</p>
                            <div class="img-list">
                                <img src="__PUBLIC__/index/img/classify/01.jpg" alt="" width="100%">
                            </div>
                        </a>
                    </div>

                    <div class="tb_content_right">
                        <a href="{:url('Exproduct/index','id=1')}">
                            多卷兑换
                            <p>需要多张兑换券进行兑换</p>
                            <div class="img-list">
                                <img src="__PUBLIC__/index/img/classify/02.jpg" alt="" width="100%">
                            </div>
                        </a>
                    </div>
                </div>

                <h3>副食</h3>
                <div class="list-content">
                    <div class="tb_content_left">
                        <a href="{:url('Exproduct/index','id=44')}">
                            <div class="img-list">
                                <img src="__PUBLIC__/index/img/classify/03.jpg" alt="" width="100%">
                            </div>
                            粮油
                        </a>
                    </div>

                    <div class="tb_content_right">
                        <a href="{:url('Exproduct/index','id=45')}">
                            <div class="img-list">
                                <img src="__PUBLIC__/index/img/classify/04.jpg" alt="" width="100%">
                            </div>
                            酒水
                        </a>
                    </div>
                </div>

                <h3>百货</h3>
                <div class="list-content">
                    <div class="tb_content_left">
                        <a href="{:url('Exproduct/index','id=42')}">
                            <div class="img-list">
                                <img src="__PUBLIC__/index/img/classify/05.jpg" alt="" width="100%">
                            </div>
                            家具
                        </a>
                    </div>

                    <div class="tb_content_right">
                        <a href="{:url('Exproduct/index','id=43')}">
                            <div class="img-list">
                                <img src="__PUBLIC__/index/img/classify/06.jpg" alt="" width="100%">
                            </div>
                            家电
                        </a>
                    </div>
                </div>


            </div>
            {volist name="category" id="cat"}
            <div id="tab{$cat.id}" class="tab_content" style="display: none; ">
                <h3>{$cat.name}</h3>
                <div class="list-content">
                {volist name="cate" id="c"}
                {if condition="($cat.id==$c.pid)"}
                    <div class="tb_content_left">
                        <a href="{:url('Exproduct/index','id='.$c.id)}">
                            <div class="img-list">
                                <img src="IMG_ROOT{$c.image|resize=400,400}" alt="" width="100%">
                            </div>
                            {$c.name}
                        </a>
                    </div>
                {/if}
                {/volist}
                
                </div>
            </div>
    {/volist}
      </div>


        {block name="include"}{include file="public:bottom" /}{/block}
    </div>
</body>
<script type="text/javascript">

    $(document).ready(function () {
        $(".tab_content").hide();
        $("ul.tabs li:first").addClass("active").show();
        $(".tab_content:first").show();

        $("ul.tabs li").click(function () {
            $("ul.tabs li").removeClass("active");
            $(this).addClass("active");
            $(".tab_content").hide();
            var activeTab = $(this).find("a").attr("href");
            $(activeTab).fadeIn();
            return false;
        });

    });
</script>
</html>