<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>盛世艺拍竞拍规则</title>
    <link rel="stylesheet" href="__PUBLIC__/auction/css/weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/auction/css/jquery-weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/auction/css/example.css" />
    <link rel="stylesheet" href="__PUBLIC__/auction/css/my-sytle.css">
</head>

<body style="font-size: 12px;text-indent: 2em">
<h2 class="text-center">“盛世艺拍”在线拍卖规则</h2>

依据《中华人民共和国拍卖法》和相关法律法规以及公司规定制定本规则。参加网络拍卖会的竞买人须仔细阅读本《拍卖规则》及竞买须知，并依此对自己在拍卖活动中的行为负责。
<br />
一、竞拍须知<br />
参与网络拍卖会的竞买人只能对应一个账号(用户名)。此账号(用户名)仅供竞买人本人使用，凡使用以竞买人的账号(用户名)和密码登陆后进行的操作，均视为该竞买人的行为，竞买人应当对以其账号(用户名)进行的所有行为承担法律责任。
<br />
二、竞拍规则<br />
竞买人一旦参与本场竞价，卖方视买家已经同意遵守本公司竞买规则。
<br />
1、参拍流程<br />
注册账号并登陆→ 点击拍品页面“出价”按键 →竞价成功 → 24小时内完成付款 → 发货 → 确认收货
<br />
2、佣金全免<br />
系统自动核算货款，即落槌价。本场不收任何佣金
<br />
3、发货/自提<br />
提货方式为两种：<br />
（1）快递寄送<br />
顺丰包邮
<br />
（2）现场提货<br />
自提地址：深圳市龙华新区民治龙峰二路142号二楼东一书画院<br />
联系人：廖先生13510562597<br />
<br />
三、拍卖直至最后一个报价后没有更高报价为止，最高的竞买人即为买受人。网络拍卖支持竞拍延时，即某件拍品的竞价时间只剩最后5分钟时（以系统具体显示的时间为准），在这5分钟内，如果没有任何买家出价，则5分钟时间一到拍卖中止；在这5分钟内，只要有一次最新出价，系统就会自动将拍卖结束时间从这个最新出价的时刻，往后顺延5分钟，依次类推，直到最后一个5分钟内没有任何出价，拍卖中止。
<br />
四、由于互联网可能出现不稳定情况，不排除网络拍卖发生故障(包括但不限于网络故障、电路故障、系统故障)以及被网络黑客恶意攻击，竞买人必须充分估计上述原因导致网络竞价不同于现场竞价所带来的风险，如果发生上述情况以及本人操作差错所造成的损失由竞买人承担。竞买人放弃因此类情形要求我公司承担任何赔偿责任。
<br />
五、根据《拍卖法》规定：买受人应当按照约定支付拍卖标的的价款，未按照约定支付价款的，应当承担违约责。 竞拍取得的拍品为特殊属性之商品，属于2014年3月15日起施行的《中华人民共和国消费者权益保护法》规定的“其他根据商品性质并经消费者在购买时确认不宜退货的商品，不适用无理由退货”。

<br />




</body>

</html>